* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  transition: all 0.15s ease-in;
}
button:hover {
  scale: 1.1;
}

ul li {
  transition: all 0.15s ease-out;
}
ul li:hover {
  scale: 1.2;
}
