* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* button {
  transition: all 0.15s ease-in;
}
button:hover {
  transform: translateY(-3px);
} */

ul li {
  transition: all 0.15s ease;
  position: relative;
  z-index: 4;
}
ul li:hover {
  scale: 1.2;
}
