.navbarStyle {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.mainDiv {
  background-color: #282c34;
  height: 100%;
  color: #eee;
  /* align-items: center; */
  padding: 2rem 0;
}

.link {
  color: #eee;
  text-decoration: none;
  font-weight: bold;
}

.containerDiv {
  /* height: 100%; */
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.heading {
  font-family: sans-serif;
  font-size: 1.625rem;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.button {
  width: 145px;
  color: white !important;
  border-color: white !important;
  padding: 0.7rem 1rem !important;
  border-radius: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.15s ease !important;
}
.button:hover {
  transform: translateY(-3px);
}
.loginCon {
  background: #eee !important;
  width: 40%;
  padding: 2rem 1rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  transition: all 0.3s ease;
  /* height: 6rem; */
}
.loginHead {
  display: flex;
  color: black;
  justify-content: flex-start;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.625rem;
  padding-left: 1rem;
}
.line {
  padding: 0.01rem;
  width: 85%;
  background: black;
  /* background-color: black; */
  /* color: black; */
  margin: 1rem 2rem 1rem 0;
  transform: translateY(2px);
  flex: 1;
}
.loginButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5rem;
  margin-top: 1rem;
}
.profile {
  position: absolute;
  top: 1.4rem;
  right: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}
.loginReg {
  width: 40%;
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
}
.loginRegBtn {
  color: white !important;
  border-color: white !important;
  flex: 1;
}
